extends layout

block content
  h1= title
   .row
    .col-xs-12.col-sm-8
      .row.list-group
      h4
        each blog in blogs
          .col-xs-12.list-group-item
              ul
                li= blog.blogTitle
                li= blog.blogText
                li= blog.createdOn
              nav
                a(href="http://3.230.219.35:80/blogedit") edit 
              nav
                a(href="http://3.230.219.35:80/blogdelete") delete 
      .col-xs-12.col-sm-4 
